NET "clk" LOC = p87 | IOSTANDARD = LVCMOS33;
NET "segments(0)" LOC = p21 | IOSTANDARD = LVCMOS33;
NET "segments(1)" LOC = p23 | IOSTANDARD = LVCMOS33;
NET "segments(2)" LOC = p26 | IOSTANDARD = LVCMOS33;
NET "segments(3)" LOC = p29 | IOSTANDARD = LVCMOS33;
NET "segments(4)" LOC = p32 | IOSTANDARD = LVCMOS33;
NET "segments(5)" LOC = p34 | IOSTANDARD = LVCMOS33;
NET "segments(6)" LOC = p40 | IOSTANDARD = LVCMOS33;
NET "dp" LOC = p43 | IOSTANDARD = LVCMOS33;
NET "p1(3)" LOC = p66 | IOSTANDARD = LVCMOS33;
NET "p1(2)" LOC = p61 | IOSTANDARD = LVCMOS33;
NET "p1(1)" LOC = p75 | IOSTANDARD = LVCMOS33;
NET "p1(0)" LOC = p79 | IOSTANDARD = LVCMOS33;